body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.section-container{
    display: flex;
    margin: 50px 20px;
}

.half-width{
    width: 50%;
    padding-left: 10%;
}

.half-width img{
    width: 70%;
}
.mission-text-color{
    color: darkcyan;
}
.border-line-color{
    border-left: 4px solid crimson;
}
.explore-btn{
    border: none;
    padding: 10px 20px;
    background-color:lightcoral;
    border-radius: 5px;
    color: white;
}

.my-mission-22{
    text-align: center;
}
.mission-color{
    color: rgb(0, 0, 80);
}
.year-color{
    color: orange;
}

.mission-area{
    width: 300px;
    border-radius: 10px;
    padding: 20px;
}
.mission-area img{
    width: 40%;
}
.mission-container{
    display: flex;
    justify-content: space-around;
    padding: 0 120px;
    margin-bottom: 100px;
}
#area-back-color{
    background-color: #ffe6ff;
}
#area-back-color-2{
    background-color: #e6fff5;
}
#area-back-color-3{
    background-color: #f7e6ff;
}
.develop-back-img{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 250px;
    background-position: left;
}
.develop-section img{
    width: 60%;
    padding-left: 85px;
}

.g-container{
    display: flex;
    padding-left: 100px;
    justify-content: space-between;
    text-align: left;
}
.g-half-width{
    width: 50%;
}
.g-half-width img{
    width: 60%;
}